<!--dashboard page-->
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock %}
<div class="dashboard-section mt-4">
        <h2 class="display-4">Your Dashboard</h2>
        
        <p class="lead">
            Spent / Budget:
            <span class="text-muted">{{ total_user_expenses }}</span> /
            <span class="text-muted">{{ user_budget }}</span>
        </p>
        <p class="lead">
            Remaining limit:
            <span class="text-success">{{ difference }}</span> 
        </p>
</div>
<div class="row">
<div class="col-md-8">
 <canvas id="myDashboardChart" width="250" height="250"></canvas>
    </div><div class="col-md-4">
    </div>

 </div>
</div>

<!--js code for displaying chart using dashboard.js-->
<script>
    const getDashboardData = () => {
        console.log("fetching dashboard data");
        fetch("/dashboard-json/")  // Use the new endpoint for JSON data
            .then((res) => res.json())
            .then((results) => {
                console.log("dashboard results", results);
                const { total_user_expenses, user_budget, difference } = results;

                renderDashboardChart(user_budget, total_user_expenses, difference);
            });
    };

    document.onload = getDashboardData();
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock content%}
